.signup-form {
  background-color: #000000;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form label {
  display: block;
  margin-bottom: 5px;
}

.signup-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.signup-form .error {
  color: red;
  font-size: 0.8rem;
}

.signup-form .success-message {
  color: green;
  margin-bottom: 10px;
}
.all {
  background-color: red;
}
